@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
    font-family: 'Comfortaa', cursive;
}

.container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#hex-colors{
    width: 100%;
    text-align: center;
}

#hex-colors h1, h2 {
    font-size: 2rem;
    text-transform: uppercase;
    -ms-animation: colorchange 5s infinite alternate;
    -moz-animation: colorchange 5s infinite alternate;
    -o-animation: colorchange 5s infinite alternate;
    animation: colorchange 5s infinite alternate;
}

#hex-colors h2 {
    margin-top: 15%;
    text-transform: lowercase;
}

@media screen and (max-width: 480px) {
    #hex-colors h1 {
        font-size: 1.5rem;
    }
    #hex-colors h2 {
        font-size: 1.5rem;
    }
}

@-ms-keyframes colorchange {
    0% {
        color: #fff;
    }
    20% {
        color: #ccc;
    }
    40% {
        color: #999;
    }
    60% {
        color: #666;
    }
    80% {
        color: #333;
    }
    100% {
        color: #000;
    }
}

@-moz-keyframes colorchange {
    0% {
        color: #fff;
    }
    20% {
        color: #ccc;
    }
    40% {
        color: #999;
    }
    60% {
        color: #666;
    }
    80% {
        color: #333;
    }
    100% {
        color: #000;
    }
}

@-o-keyframes colorchange {
    0% {
        color: #fff;
    }
    20% {
        color: #ccc;
    }
    40% {
        color: #999;
    }
    60% {
        color: #666;
    }
    80% {
        color: #333;
    }
    100% {
        color: #000;
    }
}

@keyframes colorchange {
    0% {
        color: #fff;
    }
    20% {
        color: #ccc;
    }
    40% {
        color: #999;
    }
    60% {
        color: #666;
    }
    80% {
        color: #333;
    }
    100% {
        color: #000;
    }
}
